soa-back-2/mule/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd">
    <apikit:config name="api-config" api="api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="8a1f6ece-22b4-4e88-a4e2-c51500edce73" >
		<wsc:connection wsdlLocation="http://localhost:8099/soa-back-2/ebay_service?wsdl" service="ebay_service" port="EbayServiceImpPort" address="http://localhost:8099/soa-back-2/ebay_service" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<apikit-soap:config name="APIKit_for_SOAP_Configuration" doc:name="APIKit for SOAP Configuration" doc:id="cf730d6b-ce6e-471c-9075-0bddc486217f" soapVersion="SOAP11" wsdlLocation="http://localhost:8099/soa-back-2/ebay_service?wsdl" service="ebay_service" port="EbayServiceImpPort"/>
    <http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="5998de50-19be-49e6-80de-4a72c38fc46a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="get:\filter\manufacturer\(manufacturerId):api-config">
        <http:listener doc:name="Listener" doc:id="d071d9b6-30c3-45d2-9c8b-3f2c1858e468" config-ref="HTTP_Listener_config1" path="/filter/manufacturer/{manufacturerId}" allowedMethods="GET">
        <http:response statusCode="#[vars.statusCode]" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
	"Access-Control-Allow-Headers" : "Content-Type",
	"Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.statusCode]">
				<http:body ><![CDATA[#[%dw 2.0
output application/json
---
error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" message="get:\filter\manufacturer\(manufacturerId):api-config" />
		<set-variable value="#[attributes.uriParams.manufacturerId]" doc:name="manufacturerId" doc:id="c4601205-4d02-40ff-999f-2c82dcf0dd4b" variableName="manufacturerId"/>
		<ee:transform doc:id="f91d86df-733e-46db-8b4d-410f175e17d4">
            <ee:message >
				 <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://service.soaback2.ifelseelif.com/
---
{
	ns0#getAllProducts: {
		arg0: vars.manufacturerId,
	}
}]]></ee:set-payload>
			</ee:message>
        </ee:transform>
		<wsc:consume doc:name="Consume" doc:id="b646d0c0-abda-4c9f-b7df-7125c53b6b95" config-ref="Web_Service_Consumer_Config" operation="getAllProducts"  />
		<ee:transform doc:name="Transform Message" doc:id="9a294da1-d221-475d-b7f7-ff06d48780db">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
ns ns0 http://service.soaback2.ifelseelif.com/
---
payload.body.ns0#getAllProductsResponse.*return]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="Error Propagate" doc:id="edbec71c-e176-404c-9b24-cc8e603c5a96" >
				<set-variable value="404" doc:name="err" doc:id="4551fb6f-684c-4ae7-9b59-abc30ba0dc3a" variableName="statusCode" />
				<ee:transform doc:name="Transform Message" doc:id="408d9d72-9af6-40d0-82ee-2a55bf37c9e9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

error.detailedDescription]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="post:\price\increase\(percent):api-config">
        <http:listener doc:name="Listener" doc:id="1c720cc6-5fd4-4d15-a836-f8c08c81e86d" config-ref="HTTP_Listener_config1" path="/price/increase/{percent}" allowedMethods="POST">
		        <http:response statusCode="#[vars.statusCode]" >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
	"Access-Control-Allow-Headers" : "Content-Type",
	"Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.statusCode]">
				<http:body ><![CDATA[#[%dw 2.0
output application/json
---
error.description]]]></http:body>
			</http:error-response>
		</http:listener>
		
		<logger level="DEBUG" message="post:\price\increase\(percent):api-config" />
		<set-variable value="#[attributes.uriParams.percent]" doc:name="percent" doc:id="5ae33bd9-7f0d-4de8-8ff4-9a6403542318" variableName="percent" />
		<ee:transform doc:name="Transform Message" doc:id="3fe87420-1e64-4454-9140-99372407956e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://service.soaback2.ifelseelif.com/
---
{
	ns0#increasePrice: {
		arg0: vars.percent
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="527bd38b-2429-4ce6-8f49-57ae7c24eddb" config-ref="Web_Service_Consumer_Config" operation="increasePrice"/>
		<ee:transform doc:name="Transform Message" doc:id="42a345fa-f96d-45fd-820c-1636eee087e2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
error.detailedDescription]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="Error Propagate" doc:id="5d4bf9f6-190b-47b0-8679-c1b1f1e8ccb5" >
				<set-variable value="404" doc:name="err" doc:id="d08d908f-e954-466e-b7a8-4ff410f883de" variableName="statusCode" />
				<ee:transform doc:name="Transform Message" doc:id="116629ac-b907-4aa0-94d6-e8065c6bc303" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

error : error.detailedDescription]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
	<flow name="Copy_of_OPTIONS_CORS" doc:id="54ea7b04-7f97-4de9-9f68-dc844698b540" >
		<http:listener doc:name="Copy_of_Listener" doc:id="c88062fc-5d67-4688-9b26-e610aeb0d3ea" config-ref="HTTP_Listener_config1" path="/ebay/*" allowedMethods="OPTIONS" >
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"Access-Control-Allow-Origin" : "*",
	"Access-Control-Allow-Methods" : "GET, PUT, POST, DELETE, HEAD, OPTIONS",
	"Access-Control-Allow-Headers" : "Content-Type",
	"Access-Control-Allow-Credentials" : "true"
}]]]></http:headers>
			</http:response>
		</http:listener>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="d6916aeb-1e3a-4b11-9a61-335f0877b28f" >
			<ee:message >
				<ee:set-payload ><![CDATA[output text
---
""]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
